* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}

:root {
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --light-bg-color: #F7F9FC;
    --bg-color: #fff;
    --border-color: #eee;
    --bg-color-light: #fff;
    --bg-lightgrey: #f7f7f7;
    --border-color-light: #f8f9fa;
    --card-curve: 6px;
    --iframe-filter: grayscale(0%);
    --card-box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --transformY: translateY(-0.5rem);
}

body button, .btn, body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.btn:hover, body button:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

button, .btn, select {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}


.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
    
}
a {
    color: #dc4f72;
    text-decoration: none;
    background-color: transparent;
}
body a:hover {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

@media (min-width: 1280px){
.container {
    max-width: 1200px;
}}

@media (min-width: 1200px){
.container {
    
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}}
/* HEADER  */
/* .mainHeader {
    background-color: white;
    width: 100%;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
.navMain a {
    color: black;
}

.navMain .navbar-brand p {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: #dc4f72;
    letter-spacing: -1px;
}

.mainHeader #navbarHeader .nav-item {
    padding: 0 5px;
}
.mainHeader #navbarHeader li:first-child a {
    color: #dc4f72;
}

.mainHeader #navbarHeader .nav-link {
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    padding: 2px 0;
    font-size: 1rem;
    font-weight: 400;

} 

.mainHeader #navbarHeader .nav-link::after {
    content: "";
    height: 2px;
    width: 30%;
    background: #dc4f72;
    position: absolute;
    left: 0;
    bottom: 0;
    left: -100%;
    transition: all 0.4s;
}

.mainHeader #navbarHeader .nav-link:hover {
    color: #dc4f72;
}

.mainHeader #navbarHeader .nav-link:hover::after {
    left: 0;
} */

/* Start Header  */
header.main-header {
    background-color: var(--bg-color);
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    justify-content: space-between;
    padding: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
@media (min-width: 992px) {
.navbar-expand-lg {
    flex-flow: row nowrap;
    
}}
.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--primary);
    letter-spacing: -1px;
    line-height: inherit;
    white-space: nowrap;
    display: inline-block;
}
.navbar .navbar-brand:hover {
    opacity: 0.95;
}
.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}
.navbar .navbar-brand span.fa {
    display: inline-block;
    color: var(--primary);
}
.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-toggler {
    display: none;
}}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none;
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

button.navbar-toggler .icon-expand {
    display: none;
}
button.navbar-toggler.collapsed .icon-expand {
    display: block;
}

button.navbar-toggler .icon-close {
    display: block;
}
button.navbar-toggler.collapsed .icon-close {
    display: none;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}}
.collapse:not(.show) {
    display: none;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
@media only screen and (max-width: 1440px){
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
}}
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}
nav ul li {
    display: inline-block;
    text-align: center;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: var(--primary);
}
.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--title-color);
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}}
a.nav-link:before, a.dropdown-item:before {
    position: absolute;
    content: '';
    background: var(--primary);
    width: 0px;
    height: 2px;
    bottom: 13px;
}
nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}
.navbar-expand-lg .navbar-nav .nav-item.dropdown {
    padding-right: 20px;
}
.dropdown-toggle {
    white-space: nowrap;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:before, a.dropdown-item:hover:before {
    width: 20px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown-menu {
    border-radius: var(--card-curve);
    min-width: 11rem;
    padding: 1rem 0 0.3rem;
    box-shadow: var(--card-box-shadow);
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    margin-top: 0;
}

.menu-item-has-children::after {
    position: absolute;
    right: 5px;
    top: 19px;
    display: inline-block;
    content: "\f107";
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    color: var(--title-color);
}
.navbar-expand-lg .navbar-nav .show::after, .navbar-expand-lg .navbar-nav .active::after, .navbar-expand-lg .navbar-nav .nav-link.active::after, .navbar-expand-lg .navbar-nav .nav-link:hover::after {
    color: var(--primary);
}
.search-right {
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto 1fr;
}
a.search-search span.fa {
    color: var(--text-color);
    font-size: 15px;
    opacity: .7;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: var(--light-bg-color);
    text-align: center;
    border-radius: 50px;
    border: 1px solid var(--border-color);
}
a.search-search span.fa:hover {
    color: var(--title-color);
    opacity: 1;
}
.search-right .pop-overlay {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    background: #000000ba;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}
.search-right .popup {
    position: relative;
    margin: 0rem auto;
    padding: 15px;
    top: 50%;
    max-width: 600px;
}
.search-right .popup form input[type="search"] {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: var(--text-color);
    height: 55px;
    padding: 15px 20px 12px;
    background: var(--bg-color);
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;
}
.search-right .popup form button {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #F5F9FC;
    font-weight: 500;
    height: 55px;
    border: none;
    background: var(--primary);
    padding: 0 25px;
    border-left: none;
    border-radius: initial;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.search-right .popup form button:hover {
    opacity: .8;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.search-right .popup .close {
    position: absolute;
    right: 20px;
    top: -50px;
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}
.search-right .popup .close:hover {
    opacity: 1;
}
.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
    opacity: .75;
}
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}
.header-fixed-space-height {
    margin-top: 90px;
}
.navbar .navbar-nav .nav-link:hover {
    color: var(--primary);
    transition: all 0.5s;
}
/* ---------mainCarousel------ */
.mainCarousel {
    margin-top: 90px;
}
.mainCarousel .content {
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 5rem;
}

.mainCarousel .content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: #2C3038;
    font-weight: 700;
}
.mainCarousel .content-left p {
    color: #5a5a5a;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}
/* End mainCarousel  */

/* Start wcu  */
.header-section {
    max-width: 750px;
    margin: 0 auto;
}
.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.header-section h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}
.header-section p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    
    max-width: 750px;
}
.wcu .s-block {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in;
    background: var(--light-bg-color);
    padding: 3rem 2rem;
    border: 1px solid var(--light-bg-color);
}
.wcu .s-block:hover {
    transition: 0.3s ease-in;
    background: var(--bg-color);
    border: 1px solid var(--border-color-light);
    box-shadow: var(--card-hover-box-shadow);
    transform: var(--transformY);
}
.wcu .s-block h3 {
    color: var(--title-color);
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}
.wcu .s-block p {
    color: var(--text-color);
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}
/* End wcu  */

/* Start about */
.about {
    background-color: var(--light-bg-color);
}

.about .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: var(--title-color);
    font-weight: 700;
}
.about .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--text-color);
    line-height: 24.4px;
}
img.shadow {
    box-shadow: var(--card-hover-box-shadow);
}
img.img-curve {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in-out;
}
.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
img.img-curve:hover {
    transform: var(--transformY);
    transition: 0.3s ease-in-out;
}

/* End About  */

/* Start Stats */
.stats {
    background: var(--light-bg-color);
}
.stats .stats__info {
    background-color: var(--bg-color);
    padding: 2rem;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
    transition: 0.3s ease;
    border: 1px solid var(--border-color-light);
}
.stats .stats__info:hover {
    box-shadow: var(--card-hover-box-shadow);
    transition: 0.3s ease;
}

.stats .stats__info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: var(--title-color);
    font-weight: 700;
}
.stats .stats__info p.counter {
    font-size: 50px;
    line-height: 1;
    color: var(--primary);
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}
/* End stats  */

/* Starts cover  */
.cover__main {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}
.cover .middle-section {
    max-width: 550px;
}
.cover .middle-section h2 {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}
.cover .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}
/* End cover  */

/* Starts faq  */
.faq {
    background-color: var(--light-bg-color);
}
.faq .faq__image {
    position: sticky;
    top: 80px;
}
.faq .faq__menu ul {
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}

.faq .faq__menu ul li:nth-of-type(1) {
    animation-delay: 0.5s;
}
.faq .faq__menu ul li:nth-of-type(2) {
    animation-delay: 0.75s;
}
.faq .faq__menu ul li:nth-of-type(3) {
    animation-delay: 1s;
}
.faq .faq__menu ul li:nth-of-type(4) {
    animation-delay: 1.25s;
}
.faq .faq__menu ul li:nth-of-type(5) {
    animation-delay: 1.50s;
}
.faq .faq__menu ul li:nth-of-type(6) {
    animation-delay: 1.75s;
}

.faq .faq__menu ul li {
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid var(--border-color);
    margin: 0 0 15px 0;
    border-radius: var(--card-curve);
    background: var(--bg-color);
    animation: flipdown 0.5s ease both;
}
.faq .faq__menu ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
}
.faq .faq__menu ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
}
.faq .faq__menu ul li i:before, .faq .faq__menu ul li i:after {
    content: "";
    position: absolute;
    background-color: var(--title-color);
    width: 3px;
    height: 9px;
    transition: all 0.25s ease-in-out;
}
.faq .faq__menu ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}
.faq .faq__menu ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}
.faq .faq__menu ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
}
.faq .faq__menu ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}
.faq .faq__menu h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: var(--title-color);
}
.faq .faq__menu p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;    
    transition: all 0.25s ease-in-out;
}
.faq .faq__menu ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}
i {
    font-style: italic;
}
input {
    color: #404040;
    font-size: 1rem;
    line-height: 1.5;
}
/* End faq  */

